@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.css-1y7coo4-MuiButtonBase-root-MuiPaginationItem-root,
.css-1b5ei7m {
    color: rgb(236 254 255 / 1) !important;
    border-color: rgb(236 254 255 / 1) !important;
}

.css-16y9h98 {
    color: rgb(236 254 255 / 1) !important;
}

.css-1y7coo4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected,
.css-1b5ei7m.Mui-selected {
    color: rgb(236 254 255 / 1) !important;
    border-color: rgb(236 254 255 / 1) !important;
    background-color: rgb(71 85 105 / 1) !important;
}

.css-1y7coo4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
    color: rgb(15 23 42 / 1);
    border-color: rgb(236 254 255 / 1);
    background-color: rgb(236 254 255 / 1);
}
